<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../../../assets/img/logo.png"
             class="img-fluid" alt="Logo IQ Outsourcing">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <h2 class="text-center">Iniciar Sesión</h2>
          <div class="form-outline mb-4">
            <label class="form-label" for="usuario">Usuario</label>
            <input type="text" id="usuario" class="form-control form-control-lg" placeholder="Ingresa tu usuario" name="username" [(ngModel)]="dataUsuario.username"/>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label" for="password">Contraseña</label>
            <input type="password" id="password" class="form-control form-control-lg" placeholder="Ingresa tu contraseña" name="password" [(ngModel)]="dataUsuario.password"/>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"
              (click)="startLogin(dataUsuario)"
            >Login</button>
            <p class="fw-bold mt-2 pt-1 mb-0">¿No tienes una cuenta? <a [routerLink]="['/usuarios/agregar']" class="link-danger">Regístrate!</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
